 body {
     font-family: 'Noto Sans', sans-serif;
background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #16222A, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #16222A, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     height: 100vh;
 }

 h1 {
     font-style: normal;
     font-weight: normal;
     margin: 0;
     padding: 0;
 }

 header {
     background: #df1f1f;
     color: #fff;
     height: 60px;
     padding: 15px;
     margin-bottom: 20px;
 }

 .search {
     width: 1000px;
     height: 35px;
 }

 .song {
     /*padding-top: 35px;*/
     list-style-type: none;
     /*width: 10px;*/
 }

 .player {
     margin-top: 20px;
 }

 .iframe,
 .man {
     padding-right: 0px;
     padding-left: 0px;
     border: 0;
     margin: 0;
 }
 strong{
     color: white;
 }
 .icon{
     height: 36px;
     width: 80px;
 }
 a{
     color:  #99ffcc;
     cursor: pointer;
 }
 span{
     color: #df1f1f;
 }